*.kicad_pcb-bak
*.ses
*.dsn
Oven_hw/.Oven.fsxview
Oven_fw/.settings/language.settings.xml
Oven_fw/.settings/org.eclipse.cdt.codan.core.prefs
Oven_hw/_autosave-Oven.kicad_pcb
Log.txt
log.xlsx
~$log.xlsx
